.signform{

    .form-check-label{
        a{
            display: inline-block;
            color:#8D6B52;
            &:hover{
            text-decoration: underline;
            }
        }
    }
}

.insignpage{
    height: 800px;
    
}
  